.DS_Store

# LearningPlayWrightWithParmod
LearningPlayWrightWithParmod/node_modules/
LearningPlayWrightWithParmod/test-results/
LearningPlayWrightWithParmod/playwright-report/
LearningPlayWrightWithParmod/blob-report/
LearningPlayWrightWithParmod/playwright/.cache/
LearningPlayWrightWithParmod/playwright/.auth/

# LearningPlaywrightFundamentals3x
LearningPlaywrightFundamentals3x/node_modules/
LearningPlaywrightFundamentals3x/test-results/
LearningPlaywrightFundamentals3x/playwright-report/
LearningPlaywrightFundamentals3x/blob-report/
LearningPlaywrightFundamentals3x/playwright/.cache/
LearningPlaywrightFundamentals3x/playwright/.auth/

# Shashank_learning
Shashank_learning/node_modules/
Shashank_learning/test-results/
Shashank_learning/playwright-report/
Shashank_learning/blob-report/
Shashank_learning/playwright/.cache/
Shashank_learning/playwright/.auth/
